# Compiled class files
*.class

# Maven
/target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.jar

# Logs
*.log

# Eclipse / IntelliJ / VS Code
*.iml
.idea/
*.iws
*.ipr
*.bak
*.swp
*.swo
*.DS_Store
*.vscode/
.classpath
.project
.settings/

# OS
Thumbs.db
.DS_Store

# H2 Database file (caso altere para persistente)
*.mv.db
*.trace.db

# Lombok
*.lombok

# Build output
/build/

# Test reports
/test-output/
